.header {
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 30px;
  padding: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.header-content {
  width: 100%;
  padding: 0px 30px;
  display: flex;
  justify-content: center;
}

.title-header {
  width: 70%;
}

.location-header {
  width: 30%;
}

.title-header > a,
.location-header > p {
  color: whitesmoke;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}
.dropdowns {
  position: absolute;
  margin-left: 66%;
}
.location-ddl {
  position: relative;
  text-align: center;
  width: 125px;
  height: auto;
  border: 1px solid lightgrey;
  z-index: 1000;
  margin-left: 20px;
  float: left;
  background-color: white;
}
.branch-ddl {
  position: relative;
  top: 74px;
  text-align: center;
  width: 125px;
  height: auto;
  border: 1px solid lightgrey;
  z-index: 1000;
  display: inline-grid;
  float: left;
  background-color: white;
}

.location-ddl > span {
  font-size: 12px;
  border-bottom: 1px solid lightgray;
  display: block;
  padding: 10px 0px;
  cursor: pointer;
}
.branch-ddl > span {
  font-size: 12px;
  border-bottom: 1px solid lightgray;
  padding: 10px 0px;
  cursor: pointer;
}
