.welcome-page {
  display: block;
  text-align: center;
  justify-content: center;
}
.welcome-page > span {
  text-transform: uppercase;
  display: block;
  font-size: 16px;
  font-weight: 700;
}
.container {
  position: absolute;
  top: 50px;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
